@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap");

:root {
  --primary-color: #057a55;
  --dark-gray: grey;
  --off-white: #f3f4f6;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#palindromeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

button:active {
  background-color: rgb(61, 61, 61);
}
button {
  color: var(--off-white);
  margin-top: 10px;
  width: 10%;
  height: 3rem;
  outline: 0;
  border-radius: 0px;
  background: none;
  box-shadow: none;
  border: none;
  font-family: inherit;
  border: 2px solid var(--dark-gray);
  background-color: var(--primary-color);
}
input {
  border: 3px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: 100%;
}
.footer {
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .link {
  color: white;
}
.footer ul {
  padding-inline-start: 0%;
}
.no-bullet {
  list-style: none;
}

.link {
  text-decoration: none;
}
.list-inline {
  display: inline;
  padding: 0rem 1rem;
}
